<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <th:block th:insert="~{/shop/fragments :: header-include}">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/search.css}">

</head>
<body>

    <div class="container-fluid">
        <!-- start header -->
        <div th:replace="~{/shop/fragments::header}"></div>
        <!-- end header -->
    
        <!-- start body -->
        <div class="body">
            <div class="container">
                <div class="row mt-5">
                    <div class="result text-center py-3">
                        There are 1138 search results. 
                    </div>
                </div>

                <ul class="product__list row">
                    <li class="product__list-item col-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                        <div class="wrapper">
                            <a href="">
                                <div class="product__img">
                                    <img src="img/679UR-Nakasu-Kasumi-Which-One-s-Cuter-Fancy-Pixie-J6Slal.png" alt="">
                                </div>

                                <div class="product__details p-2">
                                    <div class="product__name mb-2">Product's name</div>
                                    <div class="product__info d-flex justify-content-between align-items-center">
                                        <div class="product__price fw-bold"><span>1000000</span> &#8363;</div>
                                        <div class="product__sold fw-bold">sold: <span>12</span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="product__list-item col-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                        <div class="wrapper">
                            <a href="">
                                <div class="product__img">
                                    <img src="img/679UR-Nakasu-Kasumi-Which-One-s-Cuter-Fancy-Pixie-J6Slal.png" alt="">
                                </div>

                                <div class="product__details p-2">
                                    <div class="product__name mb-2">Product's name</div>
                                    <div class="product__info d-flex justify-content-between align-items-center">
                                        <div class="product__price fw-bold"><span>1000000</span> &#8363;</div>
                                        <div class="product__sold fw-bold">sold: <span>12</span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="product__list-item col-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                        <div class="wrapper">
                            <a href="">
                                <div class="product__img">
                                    <img src="img/679UR-Nakasu-Kasumi-Which-One-s-Cuter-Fancy-Pixie-J6Slal.png" alt="">
                                </div>

                                <div class="product__details p-2">
                                    <div class="product__name mb-2">Product's name</div>
                                    <div class="product__info d-flex justify-content-between align-items-center">
                                        <div class="product__price fw-bold"><span>1000000</span> &#8363;</div>
                                        <div class="product__sold fw-bold">sold: <span>12</span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="product__list-item col-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                        <div class="wrapper">
                            <a href="">
                                <div class="product__img">
                                    <img src="img/679UR-Nakasu-Kasumi-Which-One-s-Cuter-Fancy-Pixie-J6Slal.png" alt="">
                                </div>

                                <div class="product__details p-2">
                                    <div class="product__name mb-2">Product's name</div>
                                    <div class="product__info d-flex justify-content-between align-items-center">
                                        <div class="product__price fw-bold"><span>1000000</span> &#8363;</div>
                                        <div class="product__sold fw-bold">sold: <span>12</span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="product__list-item col-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                        <div class="wrapper">
                            <a href="">
                                <div class="product__img">
                                    <img src="img/679UR-Nakasu-Kasumi-Which-One-s-Cuter-Fancy-Pixie-J6Slal.png" alt="">
                                </div>

                                <div class="product__details p-2">
                                    <div class="product__name mb-2">Product's name</div>
                                    <div class="product__info d-flex justify-content-between align-items-center">
                                        <div class="product__price fw-bold"><span>1000000</span> &#8363;</div>
                                        <div class="product__sold fw-bold">sold: <span>12</span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="product__list-item col-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                        <div class="wrapper">
                            <a href="">
                                <div class="product__img">
                                    <img src="img/679UR-Nakasu-Kasumi-Which-One-s-Cuter-Fancy-Pixie-J6Slal.png" alt="">
                                </div>

                                <div class="product__details p-2">
                                    <div class="product__name mb-2">Product's name</div>
                                    <div class="product__info d-flex justify-content-between align-items-center">
                                        <div class="product__price fw-bold"><span>1000000</span> &#8363;</div>
                                        <div class="product__sold fw-bold">sold: <span>12</span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="product__list-item col-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                        <div class="wrapper">
                            <a href="">
                                <div class="product__img">
                                    <img src="img/679UR-Nakasu-Kasumi-Which-One-s-Cuter-Fancy-Pixie-J6Slal.png" alt="">
                                </div>

                                <div class="product__details p-2">
                                    <div class="product__name mb-2">Product's name</div>
                                    <div class="product__info d-flex justify-content-between align-items-center">
                                        <div class="product__price fw-bold"><span>1000000</span> &#8363;</div>
                                        <div class="product__sold fw-bold">sold: <span>12</span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="product__list-item col-12 col-md-6 col-lg-4 col-xl-3 pt-3">
                        <div class="wrapper">
                            <a href="">
                                <div class="product__img">
                                    <img src="img/679UR-Nakasu-Kasumi-Which-One-s-Cuter-Fancy-Pixie-J6Slal.png" alt="">
                                </div>

                                <div class="product__details p-2">
                                    <div class="product__name mb-2">Product's name</div>
                                    <div class="product__info d-flex justify-content-between align-items-center">
                                        <div class="product__price fw-bold"><span>1000000</span> &#8363;</div>
                                        <div class="product__sold fw-bold">sold: <span>12</span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>

                <!-- page-item co class="disable" de an -->
                <div class="row d-flex justify-content-center align-items-center pt-5">
                    <ul class="pagination p-0">
                        <li class="page-item d-flex justify-content-center align-items-center me-3" id="arrow--left">
                            <a href="" class="page--link">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>

                        <li class="page-item active d-flex justify-content-center align-items-center me-3">
                            <a href="" class="page--link">1</a>
                        </li>

                        <li class="page-item d-flex justify-content-center align-items-center me-3">
                            <a href="" class="page--link">2</a>
                        </li>

                        <li class="page-item d-flex justify-content-center align-items-center me-3">
                            <a href="" class="page--link">3</a>
                        </li>

                        <li class="page-item d-flex justify-content-center align-items-center me-3">
                            <a href="" class="page--link">...</a>
                        </li>

                        <li class="page-item d-flex justify-content-center align-items-center me-3">
                            <a href="" class="page--link">10</a>
                        </li>

                        <li class="page-item d-flex justify-content-center align-items-center me-3" id="arrow--right">
                            <a href="" class="page--link">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end body -->
    
        <!-- start footer -->
        <footer th:replace="~{/shop/fragments::footer}"></footer>
        <!-- end footer -->
        
    </div>
    
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <!-- Fontawsome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    
</body>
</html>